<!DOCTYPE html>
<html>
<head>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/tagTest.css') }}">
    </head>
<body>
    <h1>How to display a webpage</h1>
    <p>
        Below is the <span style="color: red">code</span> that is currently used to display this exact page
    </p>
    <pre >
<!--code Tag starts here -->
      <code>
          <span style="color: Gold">@app.route</span>(<span style="color: MediumSpringGreen">'/'</span>)
          <span style="color: Gold">@app.route</span>(<span style="color: MediumSpringGreen">'/index'</span>)
          <span style="color: orange">def</span> <span style="color: PeachPuff">index()</span>:
            user = {<span style="color: MediumSpringGreen">'username'</span>: <span style="color: MediumSpringGreen">'leon'</span>}
            <span style="color: orange">return</span> render_template(<span style="color: MediumSpringGreen">'tagTest.html'</span>, title=<span style="color: MediumSpringGreen">'Home'</span>, user=user)
<!--code Tag starts here -->
      </code>
    </pre>

    <p>Pretty cool, huh?!</p>

</body>

</html>